.App {
  height: 100%;
}

header {
  background: rgb(19, 19, 19);
  color: white;
  padding: 20px 0;
}

header .headerContent {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1200px;
  padding: 0 20px;
  margin: auto;
}

header .headerContent .appLogo {
  font-size: 22px;
}

header .headerContent .appLogo span {
  color: #1cfc23;
}

header .headerContent input[type=text] {
  border: 0;
  padding: 10px;
  font-size: 15px;
  width: 150px;
  border-radius: 4px;
}

header .headerContent input[type=text]:focus {
  outline: 0;
}