.App {
  height: 100%;
}

header {
  background: rgb(19, 19, 19);
  color: white;
  padding: 20px 0;
}

header .headerContent {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1200px;
  padding: 0 20px;
  margin: auto;
}

header .headerContent .appLogo {
  font-size: 22px;
  font-weight: 700;
}

header .headerContent .appLogo span {
  color: #1cfc23;
}

header .headerContent input[type=text] {
  border: 0;
  padding: 10px;
  font-size: 15px;
  width: 150px;
  border-radius: 4px;
}

header .headerContent input[type=text]:focus {
  outline: 0;
}

header .headerContent input[type=text]::selection {
  background-color: #000;
  color: #fff;
}

/* ------------------------- */
main {
  height: calc(100% - 78px);
  background-image: url(./img/bg.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  padding: 20px 0;
}

main .terminal {
  max-width: 650px;
  height: 100%;
  background-color: rgb(19, 19, 19);
  margin: 0 auto;
  padding: 15px;
  color: white;
  font-size: 15px;
  overflow: auto;
}

main .terminal p {
  margin-bottom: 6px;
}

main .terminal .commandLine {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: 10px;
}

#username span {
  color: #1cfc23;
}

main .terminal .commandLine input[type=text] {
  flex-grow: 1;
  font-size: 15px;
  border: 0;
  background-color: transparent;
  color: white;
}

main .terminal .commandLine input[type=text]:focus {
  outline: 0;
}